* {
  margin: 0;
  scroll-behavior: smooth;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

/* #ed9e4b orange
#ffb448 yellow */

.logoFont {
  font-family: "Matemasie", sans-serif;
  font-weight: 400;
  font-style: normal;
}
/* .regularFont {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
} */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.greenColor {
  color: green !important;
}

.redcolor {
  color: red !important;
}
